
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

            .nav{
                background-color:whitesmoke;
                list-style-type: none;
                text-align: center;
                margin: 0%;
                padding: 0%;
                font-family: "Roboto Mono", monospace;
                
            }
            .nav li {
                display:inline;
                font-size: 300%;
                padding: 20%;
                /* font-family: Roboto; */
             }
             
 